.boards__list {
    border: 1px solid #000;
    margin-right: 2rem;
    max-height: 9rem;
    min-height: 9rem;
    overflow: scroll;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}